.card {
  width: 4em;
  height: 6em;
  border: 1px solid grey;
}

.card-name-a.up {
  background:white url("resources/pics/1.jpg") no-repeat center;
}

.card-name-b.up {
  background:white url("resources/pics/2.jpg") no-repeat center;
}

.card.up.match {
  border: 1px solid red;
}

.move.one-guess {
  border: 1px solid blue;
}